{% extends 'base.html.twig' %}

{% block title %}HorraireZoo index{% endblock %}

{% block body %}
    <h1>HorraireZoo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jour</th>
                <th>HeureOuverture</th>
                <th>HeureFermeture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for horraire_zoo in horraire_zoos %}
            <tr>
                <td>{{ horraire_zoo.id }}</td>
                <td>{{ horraire_zoo.jour }}</td>
                <td>{{ horraire_zoo.heureOuverture }}</td>
                <td>{{ horraire_zoo.heureFermeture }}</td>
                <td>
                    <a href="{{ path('app_horraire_zoo_show', {'id': horraire_zoo.id}) }}">show</a>
                    <a href="{{ path('app_horraire_zoo_edit', {'id': horraire_zoo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_horraire_zoo_new') }}">Create new</a>
{% endblock %}
