{% extends 'base.html.twig' %}

{% block title %}Habitat index{% endblock %}

{% block body %}
    <h1>Habitat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Habitat_id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Image_url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for habitat in habitats %}
            <tr>
                <td>{{ habitat.habitatId }}</td>
                <td>{{ habitat.nom }}</td>
                <td>{{ habitat.description }}</td>
                <td>{{ habitat.imageUrl }}</td>
                <td>
                    <a href="{{ path('app_habitat_show', {'habitat_id': habitat.habitat_id}) }}">show</a>
                    <a href="{{ path('app_habitat_edit', {'habitat_id': habitat.habitat_id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_habitat_new') }}">Create new</a>
{% endblock %}
