{% extends 'base.html.twig' %}

{% block title %}Habitat{% endblock %}

{% block body %}
    <h1>Habitat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Habitat_id</th>
                <td>{{ habitat.habitatId }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ habitat.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ habitat.description }}</td>
            </tr>
            <tr>
                <th>Image_url</th>
                <td>{{ habitat.imageUrl }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_habitat_index') }}">back to list</a>

    <a href="{{ path('app_habitat_edit', {'habitat_id': habitat.habitat_id}) }}">edit</a>

    {{ include('habitat/_delete_form.html.twig') }}
{% endblock %}
