{% extends 'base.html.twig' %}

{% block title %}Administrateur index{% endblock %}

{% block body %}
    <h1>Administrateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Administrateur_id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for administrateur in administrateurs %}
            <tr>
                <td>{{ administrateur.administrateurId }}</td>
                <td>{{ administrateur.nom }}</td>
                <td>
                    <a href="{{ path('app_administrateur_show', {'administrateur_id': administrateur.administrateur_id}) }}">show</a>
                    <a href="{{ path('app_administrateur_edit', {'administrateur_id': administrateur.administrateur_id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_administrateur_new') }}">Create new</a>
{% endblock %}
