{% extends 'base.html.twig' %}

{% block title %}Veterinaire index{% endblock %}

{% block body %}
    <h1>Veterinaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Veterinaire_id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for veterinaire in veterinaires %}
            <tr>
                <td>{{ veterinaire.veterinaireId }}</td>
                <td>{{ veterinaire.nom }}</td>
                <td>
                    <a href="{{ path('app_veterinaire_show', {'veterinaire_id': veterinaire.veterinaire_id}) }}">show</a>
                    <a href="{{ path('app_veterinaire_edit', {'veterinaire_id': veterinaire.veterinaire_id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_veterinaire_new') }}">Create new</a>
{% endblock %}
