{% extends 'base.html.twig' %}

{% block title %}Animal index{% endblock %}

{% block body %}
    <h1>Animal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Animal_id</th>
                <th>Prenom</th>
                <th>Race</th>
                <th>Image_url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.animalId }}</td>
                <td>{{ animal.prenom }}</td>
                <td>{{ animal.race }}</td>
                <td>{{ animal.imageUrl }}</td>
                <td>
                    <a href="{{ path('app_animal_show', {'animal_id': animal.animal_id}) }}">show</a>
                    <a href="{{ path('app_animal_edit', {'animal_id': animal.animal_id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_animal_new') }}">Create new</a>
{% endblock %}
